@import url(/css/variables.css);

body {
    display:flex;
    flex-direction: column;
    font-family: "Josefin Slab", serif;
    margin: 0px;
    background-color: var(--bg);
}
main {
    animation-name: "show-page";
    animation: show-page 0.3s forwards;
}
main :is(p, a) {
    font-size: 20px;
    max-width: 70%;
}
main :is(h1, h2) {
    font-size: 40px
}
header {
    position: fixed;
    top: 0;
    height: 75px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
}
header > *:not(nav) {
    padding: 10px;
    margin: 10px;
    font-size: 30px;
}
footer {
    height: 280px;
    display: flex;
    flex-direction: column;
    bottom:0;
}
footer h4 {
    font-size: 1.2rem;
}
footer a {
    padding: 5px;
    margin: 5px;
}
footer section {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
}
footer section div h4 {
    max-width: 130px;
    text-align: center;
}
footer > section:last-child {
    margin-top: 10px;
    font-size: 0.7rem;
    color: grey;
    align-items: center;
}
.error-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
    box-shadow: 3px 3px 10px 5px var(--secondarycolor), -1px -1px 5px 3px red;
}
.link-container {
    display: flex;
    flex-direction: column;
}
header, footer {
    z-index: 1;
    width: 100vw;
    background-color: var(--primarycolor);
    color: var(--navcolor);
}
.socialmedia-container > * {
    padding: 5px;
}
.logo {
    content: url("/media/logo/travelbloglogo_white.png");
    height: 70px;
}
nav {
    position: absolute;
    background-color: var(--primarycolor);
    display: none;
    z-index: 1;
    align-items: center;
    width: 200px;
    flex-direction: column;
    padding: 5px;
    top: 75px;
    right: 0;
    border-radius: 5px;
    animation-name: "show-page";
    animation: show-page 0.3s forwards;
}
nav > * {
    padding: 10px;
    margin: 10px;
    text-decoration: underline;
}
.indexh1 {
    font-family: "Great Vibes", "Josefin Slab", serif;
}
.blog-section {
    display: grid;
    padding-top: 75px;
    padding-bottom: 450px;
    z-index: 0;
}
.blog-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
}
.blogpost-container-single {
    opacity: 90%;
    position: relative;
    min-width: 300px;
    min-height: 300px;
    box-shadow: 1px 1px black;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition-duration: 0.3s;
}
.blogpost-container-single:is(:hover,:active) {
    transform: scale(1.05);
    opacity: 100%;
    transition-duration: 0.3s;
}
.blogpost-container-single div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primarycoloralpha);
    color: var(--navcolor);
    height: 50px;
}
.blogpost-container-single p {
    font-size: 15px;
    position: absolute;
    right:0; 
    margin: 
}
main section {
    height: 101vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center
}
.welcome-section {
    background-image: url(/media/BGimage.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}
.banner-section div {
    background-image: url("/media/banner.jpg");
    background-position: center;
    background-attachment: fixed;
    width: 100vw;
    height: 350px;
}
.default-button {
    font-size: 20px;
    min-width: 100px;
    min-height: 39px;
    padding: 5px;
    color: var(--navcolor);
    background-color: var(--secondarycolor);
    box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}
.about-section {
    margin: 150px 0 150px 0;
    display: flex;
    align-items: center;
    text-align: left;
}
.about-section p {
    max-width: 600px;
}
.about-section img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: 0 20%;
}

/*Move to JS*/
.default-button:active {
    transform: scale(0.9);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3);
}



@media screen and (min-width: 720px) { 

.blog-container {
    grid-template-columns: repeat(2, 1fr);
};

.about-section img {
    width: 600px;
}

}


@media screen and (min-width: 1024px) { 

.blog-container {
    grid-template-columns: repeat(3, 1fr);
};
.banner-section div {
    height: 50vh;
}
}

@media screen and (min-width: 1820px) { 

.blog-container {
    grid-template-columns: repeat(4, 1fr);
};
.banner-section div {
    height: 60vh;
}
}

/* KEYFRAMES */
@keyframes show-page {
    0% { opacity: 0; }
    50% { opacity: 50%; }
    100% { opacity: 100% }
}

